apiVersion: v1
kind: Service
metadata:
  name: {{ include "cloptima-k8s-agent.fullname" . }}
  namespace: {{ include "cloptima-k8s-agent.namespace" . }}
  labels:
    {{- include "cloptima-k8s-agent.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "cloptima-k8s-agent.selectorLabels" . | nindent 4 }}
